
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zadania</title>
</head>
<body>
    <div> 
        @Html.ActionLink("ToDo", "Index", new { area = "ToDo", controller = "ToDo" })
    </div>
</body>
</html>
