
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zadania</title>
</head>
<body>
    <div> 
        <a href="@Url.Action("ToDo", "ToDo")" class="link-with-icon">
            <i class='fas fa-clipboard-list'></i>ToDo
        </a>
       
    </div>
</body>
</html>
