<!doctype html>

<html lang="pl">
<head>
    <meta charset="utf-8">

    <title>@ViewBag.Title</title>

    <meta name="description" content="ToDo">
    <meta name="author" content="Andrzej Lopko">
    
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/jquery-ui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>

<body>

    <div class="container body-content">
        @RenderBody()
    </div>


    <footer>
        <p>Andrzej Lopko</p>
    </footer>
</body>
</html>