<!doctype html>

<html lang="pl">
<head>
    <meta charset="utf-8">

    <title>@ViewBag.Title</title>

    <meta name="description" content="ToDo">
    <meta name="author" content="Andrzej Lopko">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/jquery-ui.css" rel="stylesheet" />

    <link href="~/Content/CSS/main.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    <script src="~/Content/JS/Utilities/Utilities.js"></script>
    <script src="~/Content/JS/Panel/Panel.js"></script>

</head>

<body>

    <div class="container body-content">
        @RenderBody()

        <footer>
            <p>Andrzej Lopko</p>
        </footer>
    </div>

</body>
</html>