<body>
    <script type="text/javascript">
        window.close();
    </script>
    <p>
        Jestem pełen podziwu. Ten skrypt jest obsługiwany tylko przez Microsoft Edge. Jeżeli widzisz ten komunikat, to korzystasz z Opery, Firefoxa albo Chroma, które uniemożliwiają zamykanie okien poprzez skrypt js. Mogliby wziąć przykład z Edge i wyświetlić komunikat, który blokuje/zezwala na akcję zamknięcia karty. Dane zostały wyczyszczone.
    </p>

    @Html.ActionLink("Kliknij tutaj, żeby wrócić do strony początkowej.", "Index", new { area = "", controller = "Home" })
</body>