@import "variables";

body {

    

    footer {
        p {
            margin-top: $footer-margin-top;
            font-size: $footer-font-size;
            font-weight: bolder;
            text-align: center;
        }
    }
}

.link-with-icon {
    font-size: $link-with-icon-font-size;

    i {
        padding-right: $link-padding-between-image-and-text;
    }
}

.icon-cont {
    padding: 0.5rem;
    height: $panel-height;
}

.icon {
    font-size: $icon-height;
}

.small-icon {
    font-size: $small-icon-height;
    padding: 0 0.7rem;
}


.panel {
    height: $panel-height;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


.tasks {
}

.app {
}
