@import "variables";
@import "additional";

body {
    footer

{
    p

{
    margin-top: $footer-margin-top;
    font-size: $footer-font-size;
    font-weight: bolder;
    text-align: center;
}

}
}

.link-with-icon {
    font-size: $link-with-icon-font-size;
    i

{
    padding-right: $link-padding-between-image-and-text;
}

}

.icon-cont {
    padding: 0.5rem;
    height: $panel-height;
}

.disabled {
    font-size: $icon-height;
    color: lightslategray;
}


.icon {
    font-size: $icon-height;

    @include clicakble();
}

.icon-disable {
    font-size: $icon-height;
}

.icon-export {
    font-size: $icon-height;
    margin: $icon-export-margin;

    @include clicakble();
}

.small-icon {
    font-size: $small-icon-height;
    padding: 0 0.7rem;

    @include clicakble();
}

.small-icon-disabled {
    font-size: $small-icon-height;
    padding: 0 0.7rem;
    color: lightslategray;
}


.panel {
    height: $panel-height;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    & input

{
    opacity: 0;
    width: 0;
    height: 0;
}

}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    @include Transition(0.4s);
    &:before

{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    @include Transition(0.4s);
}

}


input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    @include Transform( translateX(26px) );
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.export-container > div{
    width: 130px;
}

.card {
    border: 0.2rem solid rgba(32, 73, 107, 0.69);
    border-radius: 3%;
    padding: 1.3rem;
    margin: 0.4rem;
    background-color: rgba(50, 133, 202, 0.40);

    .row {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #priority {
        color: blue;
    }

    #status {
        color: yellow;
    }

    #topic, #action {
        font-weight: bold;
    }

    a {
        margin-top: 1.2rem;
        margin-bottom: 0.6rem;
    }
}