<div class="row text-center">
    <i class="fas fa-file-pdf icon-export text-primary"></i>
</div>
<div class="row text-center">
    <i class="fas fa-file-excel icon-export text-primary"></i>
</div>
<div class="row text-center">
    <i class="fas fa-file-alt icon-export text-primary"></i>
</div>
